.footer{
    background-image: url('https://st4.depositphotos.com/1026394/31458/i/450/depositphotos_314582472-stock-photo-minimal-geometric-black-gradient-background.jpg');
    font-size: 20px;
    padding-bottom: 8vh;
    padding-top: 8vh;
    color: rgb(206, 206, 206);
}