#data-box{
    margin-top: 6vh;
    padding-bottom: 3vh;
    padding-top: 3vh;
}
#data-box-contact{
    margin-top: 6vh;
    padding-bottom: 1vh;
    padding-top: 1vh;
    font-size: 30px;
}
#data-box-contact a {
    text-decoration: none;
    color: rgb(206, 206, 206);
}
#data-text{
    color: rgb(34, 34, 34);
    display: flex;
    align-items: center;
    text-align: left;
}
#data-pic{
    text-align: center;
}