@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

body {
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: "Noto Sans Thai", sans-serif;
    padding-left: 37%;
    padding-right: 37%;
    padding-top: 2%;
}